body{
  margin:0;
}
header{
  background-color: blue;
  color: white;
  padding: 15px;
  font-size: 8vw;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;;
  background-color: grey;
}
nav a{
  text-decoration: none;
  color: black;
  padding: 15px;
}
nav a:hover{
  background-color: white;
}
